<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Lista equipos')"></head>
<body>
<header th:replace="menu-bar :: menu-bar(id = ${usuario.id},nombre = ${usuario.nombre},userIsLoggedIn=true)"></header>

<div class="container-fluid">

  <h2>Nuevo equipo</h2>

  <form method="post" th:action="@{/usuarios/{id}/equipos/nuevo(id=${usuario.id})}" th:object="${equipoData}">
    <div class="col-6">
      <div class="form-group">
        <label for="nombre">Nombre del equipo:</label>
        <input class="form-control" id="nombre" name="nombre" required th:field="*{nombre}" type="text"/>
      </div>
      <button class="btn btn-primary" type="submit">Crear equipo</button>
    </div>
  </form>
</div>

<div th:replace="fragments::javascript"/>
</body>
</html>